body {
    background-color: #978E43 ;
    color: #350608 ;
}

h1 {
    background-color:#C73B0B  ;
    color:#350608 ;
}

h2 {
    background-color:#350608 ;
    color:#C73B0B;
}

#new { color:#F2C545; }


.feature { color:#F0E68C ; }