body {
    background-color: #978E43;
    color: #350608;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    background-image: url(texture.jpg);
    margin-left: 20px;
    padding: 5px 15px;
}

h1 {
    background-color: #C73B0B;
    color: #350608;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    text-shadow: 3px 3px 3px #978E43;
    background-image: url(icon.jpg);
    background-repeat: no-repeat;
    height: 80px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5em;
    padding-left: 150px;
    padding-top: 10px;
    border-radius: 10px;
}

h2 {
    background-color: #350608;
    color: #C73B0B;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}

#new {
    color: #C73B0B;
    font-weight: bold;
}

.feature {
    color: #C73B0B;
    list-style-type: circle;
}

.list {
    list-style-position: inside;
    list-style-type: upper-roman;
}

#altpage {
    font-weight: bold;
    font-size: large;
}

#footer {
    text-align: center;
    font-size: x-small;
    font-style: italic;
}

#border {
    background-color: white;
    opacity: 0.6;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}